<!-- wp:template-part {"slug":"header-alt","tagName":"header"} /-->

<!-- wp:snd/breadcrumbs -->
<!-- wp:breadcrumbs /-->
<!-- /wp:snd/breadcrumbs -->

<!-- wp:snd/article -->
<!-- wp:snd/article-content -->
<div class="wp-block-snd-article__text"><!-- wp:heading {"placeholder":"Заголовок"} -->
<h2 class="wp-block-heading">Страница 404</h2>
<!-- /wp:heading -->

<!-- wp:heading {"level":3,"placeholder":"Подзаголовок"} -->
<h3 class="wp-block-heading">Страница, на которую вы перешли не существует</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"placeholder":"Текст статьи..."} -->
<p>Вернитесь на главную или воспользуйтесь для поиска нужной информации</p>
<!-- /wp:paragraph --></div>
<!-- /wp:snd/article-content -->
<!-- /wp:snd/article -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->